:root {
 --green: #18cfab;
}

body {
 font-family: 'Montserrat', sans-serif;
}

.container {
 width: 1160px;
 margin: 0 auto;
}

.bg-green {
 background-color: var(--green);
}

.bg-blue {
 background-color: #00cbf6;
}

.bg-dark {
 background-color: #1c2a33;
}

.text-green {
 color: var(--green);
}

.text-white {
 color: #fff;
}

.pos-relative {
 position: relative;
}

.d-flex-center {
 display: flex;
 align-items: center;
}

.d-flex-column-center {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.main-header {
 height: 100vh;
 background: url("../img/backgrounds/header-bg.png") no-repeat center;
 background-size: cover;
}

.nav-bar {
 padding: 25px 0;
 background-color: rgba(73, 71, 63, 0.6);
 margin-bottom: 246px;
}

.nav-bar-layout {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.main-logo {
 background: url("../img/icons/icon-logo.svg") no-repeat center;
 background-size: cover;
 width: 58px;
 height: 67px;
 font-size: 40px;
 font-weight: 700;
 color: #ffffff;
 display: flex;
 align-items: center;
 justify-content: center;
}

.menu-top-item {
 margin-right: 17px;
}

.menu-top-link {
 color: #b8b8b8;
 font-size: 13px;
 font-weight: 700;
 text-transform: uppercase;
}

.menu-top-link:active,
.menu-top-link:hover {
 color: var(--green);
}

.navbar-search {
 visibility: hidden;
}

.icon-search {
 color: #bbb;
 font-size: 22px;
}

.logo-text {
 font-size: 32px;
 color: #fff;
 margin-left: 8px;
}

.logo-text-big {
 font-weight: 700;
}

.slogan {
 text-transform: uppercase;
 font-weight: 700;
 color: #ffffff;
 text-align: center;
}

.slogan-secondary {
 font-size: 35px;
 margin-bottom: 45px;
}

.slogan-main {
 font-size: 79px;
 margin-bottom: 37px;
}

.slogan-light {
 font-weight: 300;
 color: #d4d4d4;
 font-size: 34px;
 margin-bottom: 42px;
}

.btn {
 padding: 26px 32px;
 text-transform: uppercase;
 font-size: 13px;
 font-weight: 700;
 color: #fff;
 border-radius: 6px;
 border: none;
 outline: none;
 border-top: 4px solid #fff;
 cursor: pointer;
}

.btn-explore {
 margin-right: 28px;
}

.features-list {
 display: flex;
 height: 374px;
}

.feature-item {
 height: 100%;
 flex-basis: 25%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 padding: 88px 0 120px;
}

.feature-title {
 font-size: 20px;
 font-weight: 700;
 text-transform: uppercase;
 margin-top: 38px;
}

.feature-item.bg-dark {
 border-top: 7px solid var(--green);
}

.feature-item.bg-green {
 border-top: 7px solid #fff;
}

.img-align {
 height: 97px;
 display: flex;
 align-items: center;
}

.services-list {
 display: flex;
}

.section_title {
 font-size: 36px;
 text-align: center;
 font-weight: 400;
}

.title-grey {
 color: #4e4e4e;
}

.section_our-services {
 padding: 82px 0 103px;
 border-bottom: 1px solid #e1e1e1;
}

.green-lines-wrapper {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 88px;
 height: 6px;
 margin-top: 37px;
}

.green-lines-wrapper .green-line:nth-child(2) {
 align-self: flex-end;
}

.green-line {
 display: flex;
 align-items: center;
 height: 1px;
 width: 76px;
 margin-bottom: 4px;
}

.green-line::after {
 content: "";
 flex: 1 1 auto;
 width: 76px;
 border-top: 1px solid var(--green);
}

.green-line_vertical {
 height: 90px;
 width: 1px;
 background-color: var(--green);
}

.services-list {
 margin: 70px 0 28px;
}

.service-item {
 padding: 27px 35px 30px;
 border: 1px solid #eeeeef;
 font-size: 16px;
 font-weight: 400;
 color: #717171;
 background-color: #f8fcfe;
 cursor: pointer;
}

.service-item.active {
 position: relative;
}

.service-item.active,
.service-item:active,
.service-item:hover {
 background-color: var(--green);
 color: #fff;
 border: none;
}

.service-item.active::after {
 content: "";
 width: 0;
 height: 0;
 position: absolute;
 bottom: -13px;
 left: 50%;
 transform: translateX(-50%);
 border-style: solid;
 border-width: 13px 13px 0 13px;
 border-color: var(--green) transparent transparent transparent;
}

.service-item-description {
 display: none;
}

.service-item-description.active {
 display: flex;
 align-items: center;
}

.service-item-description {
 font-size: 14px;
 font-weight: 300;
 color: #777;
 line-height: 24.39px;
}

.service-item-img {
 width: 194px;
 height: 139px;
 margin-right: 20px;
}

.section_purchase {
 padding: 126px 0;
 background-image: url("../img/backgrounds/purshase-now-bg.png");
 background-attachment: fixed;
 background-color: rgba(0, 0, 0, 0.78);
 background-blend-mode: multiply;
 margin-bottom: 15px;
}

.section-purchase-title {
 font-size: 40px;
 font-weight: 700;
 text-transform: uppercase;
 margin-bottom: 35px;
}

.section-purchase-description {
 font-size: 16px;
 font-weight: 400;
 color: #d8d8d8;
 margin-bottom: 76px;
}

.work-example-list {
 display: flex;
 align-content: center;
 margin: 70px 0;
}

.work-example-title {
 padding: 24px 24px 24px 30px;
 color: #717171;
 font-size: 14px;
 font-weight: 400;
 border: 1px solid #ebebeb;
 cursor: pointer;
}

.work-example-title.active,
.work-example-title:active,
.work-example-title:hover {
 border-top: 1px solid var(--green);
 color: var(--green);
}

.work-example-links {
 display: flex;
 flex-wrap: wrap;
 margin-bottom: 70px;
}

.work-example-img {
 display: none;
 width: 285px;
 height: 207px;
 transition: all 2s;
}

.work-example-img.active {
 display: inline-block;
}

.icon-plus {
 display: inline-block;
 background: url("../img/icons/icon-plus.svg") no-repeat center;
 background-size: cover;
 width: 16px;
 height: 16px;
 margin-right: 16px;
}

.btn-load-more {
 padding: 22px;
 display: flex;
 align-items: center;
 font-size: 14px;
 font-weight: 700;
}

.break-news-wrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-top: 70px;
}

.news-link {
 margin: 0 28px 45px 0;
 padding-bottom: 12px;
 border: 1px solid #ececec;
 position: relative;
}

.news-link:nth-child(4n) {
 margin-right: 0;
}

.news-link:hover .news-title {
 color: var(--green);
}

.news-date {
 position: absolute;
 top: 0;
 right: 0;
 width: 68px;
 height: 66px;
 padding: 15px 20px;
 background-color: #203e38;
 color: #ffffff;
 font-size: 16px;
 line-height: 25px;
}

.news-link:hover .news-date {
 background-color: var(--green);
 color: #fff;
}

.section_break-news {
 padding: 84px 0 132px;
}

.news-image {
 height: 208px;
 width: 263px;
 margin-bottom: 14px;
}

.news-title {
 font-size: 18px;
 font-weight: 700;
 color: #717171;
 margin: 14px 0;
}

.news-info {
 font-size: 14px;
 font-weight: 300;
 color: #777777;
}

.news-author {
 padding-right: 13px;
 margin-right: 13px;
 border-right: 1px solid #abacad;
}

.section_people-say {
 padding: 100px 0 104px;
 background-blend-mode: multiply;
 background-image: url("../img/backgrounds/people-say-bg.png");
 background-size: cover;
 background-attachment: fixed;
 background-color: rgba(0, 0, 0, 0.5);
}

.quotes {
 background: url("../img/icons/icon-quotes.svg") no-repeat center;
 background-size: contain;
 width: 50px;
 height: 40px;
 margin: 40px 0;
}

.paragraph-people-say {
 font-size: 16px;
 line-height: 30px;
 font-weight: 300;
 color: #bbbbbb;
 margin: 43px 0;
 text-align: center;
}

.people-photo-bg {
 background-color: rgba(31, 218, 181, 0.2);
 border-radius: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.bg-big {
 width: 164px;
 height: 164px;
}

.bg-small {
 width: 60px;
 height: 60px;
}

.people-photo-img {
 width: 90%;
 height: 90%;
 border-radius: 100px;
 border: 3px solid var(--green);
}

.people-name {
 font-size: 16px;
 font-weight: 700;
 text-transform: uppercase;
 color: var(--green);
 margin-bottom: 20px;
}

.people-role {
 color: #bbbbbb;
 font-size: 13px;
 font-weight: 300;
 margin-bottom: 27px;
}

.people-say-slider {
 position: relative;
 padding: 25px;
}

.slider-wrapper {
 position: relative;
 margin-top: 40px;
 width: 420px;
 overflow: hidden;
}

.slider-arrow {
 width: 30px;
 height: 30px;
 border: 1px solid #bbbbbb;
 display: flex;
 color: #bbbbbb;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 cursor: pointer;
}

.slider-arrow:active,
.slider-arrow:hover {
 background-color: var(--green);
 color: #fff;
}

.arrow-right {
 right: 0;
}

.arrow-left {
 left: 0;
}

.people-say-item {
 margin: 0 17px;
 position: relative;
}

.section_images {
 padding: 98px 0 80px;
}

.grid {
 width: 1160px;
 margin-bottom: 67px;
}

.grid:after {
 content: '';
 display: block;
 clear: both;
}

.grid-item {
 display: none;
 float: left;
 width: 370px;
 height: 260px;
 margin-top: 16px;
}

.grid-item.active {
 display: flex;
}

.grid-item img {
 width: 100%;
 height: 100%;
}

.grid-item--height2 {
 height: 376px;
}

.grid-item--width2 {
 width: 180px;
}

.grid-item--height3 {
 height: 168px;
}

.grid-item--width3 {
 width: 118px;
}

.grid-item--height4 {
 height: 92px;
 margin: 1.5px;
}

.grid-item-nested {
 flex-wrap: wrap;
 margin-bottom: 16px;
}

.main-footer {
 background-color: #22353f;
 padding: 47px 0;
}

.copyright-info {
 color: #fff;
 text-align: center;
 font-size: 14px;
 font-weight: 300;
}

.modal {
 display: none;
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: rgba(0, 0, 0, 0.3);
 align-items: center;
 justify-content: center;
}

.modal.show {
 display: flex;
}

.modal-body {
 position: relative;
 width: 50vw;
 background-color: #fff;
 border-radius: 6px;
 padding: 46px 45px 55px 42px;
}

.modal-close {
 position: absolute;
 top: 16px;
 right: 16px;
 color: var(--green);
 font-size: 15px;
 text-decoration: none;
}

.modal-title {
 color: #474646;
 font-size: 22px;
 line-height: 30px;
 margin-bottom: 23px;
 font-weight: 400;
 align-self: flex-start;
}

.modal-slogan {
 font-size: 21px;
 color: var(--green);
 line-height: 24px;
 font-weight: 400;
 margin-bottom: 17px;
}

.form-order {
 width: 40%;
 margin-right: 32px;
}

.form-order .pos-relative {
 width: 100%;
}

.form-order-input {
 outline: none;
 border: 1px solid #dddddd;
 border-radius: 4px;
 background-color: #fff;
 padding: 15px 0 15px 16px;
 margin-bottom: 22px;
 width: 100%;
}

.form-order-input::-webkit-input-placeholder {
 color: #b6b6b6;
 font-size: 18px;
 font-family: 'Montserrat', sans-serif;
}

.form-order-input::-moz-placeholder {
 color: #b6b6b6;
 font-size: 18px;
 font-family: 'Montserrat', sans-serif;
}

.form-order-input::-ms-input-placeholder {
 color: #b6b6b6;
 font-size: 18px;
 font-family: 'Montserrat', sans-serif;
}

.form-order-input::-moz-placeholder {
 color: #b6b6b6;
 font-size: 18px;
 font-family: 'Montserrat', sans-serif;
}

.input-icon {
 position: absolute;
 top: 13px;
 right: 11px;
 color: #ececec;
 font-size: 23px;
}

.social-block {
 width: 45%;
 margin-left: 32px;
}

.social-btn {
 width: 100%;
 color: #ffffff;
 font-size: 18px;
 border-radius: 4px;
 margin-bottom: 19px;
 display: flex;
 align-items: center;
}

.social-btn-fb {
 background-color: #3b5998;
}

.social-btn-fb:active,
.social-btn-fb:hover {
 background-color: #354f88;
}

.social-btn-fb:active .social-btn-icon,
.social-btn-fb:hover .social-btn-icon {
 background-color: #3b5998;
}

.social-btn-fb .social-btn-icon {
 background-color: #354f88;
}

.social-btn-tw {
 background-color: #45b0e3;
}

.social-btn-tw:active,
.social-btn-tw:hover {
 background-color: #40a2d1;
}

.social-btn-tw:active .social-btn-icon,
.social-btn-tw:hover .social-btn-icon {
 background-color: #45b0e3;
}

.social-btn-tw .social-btn-icon {
 background-color: #40a2d1;
}

.social-btn-gplus {
 background-color: #de4c34;
}

.social-btn-gplus:active,
.social-btn-gplus:hover {
 background-color: #ce3e26;
}

.social-btn-gplus:active .social-btn-icon,
.social-btn-gplus:hover .social-btn-icon {
 background-color: #de4c34;
}

.social-btn-gplus .social-btn-icon {
 background-color: #ce3e26;
}

.social-btn-icon {
 padding: 12px 18px;
 width: 20%;
 font-size: 23px;
 text-align: center;
 border-radius: 4px;
 margin-right: 42px;
}

.form-order-btn {
 width: 100%;
 padding: 15px 0;
 font-size: 21px;
 text-transform: none;
 font-weight: 400;
}

.form-order-btn:hover,
.form-order-btn:active {
 background-color: #119077;
}

.default-checkbox {
 opacity: 0;
 position: absolute;
 margin: 0;
}

.form-order-links {
 width: 100%;
 margin-top: 21px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.form-order-link {
 font-size: 15px;
 color: #b6b6b6;
 line-height: 30px;
 cursor: pointer;
}

.form-order-checkbox-input {
 display: inline-block;
 width: 16px;
 height: 16px;
 background-color: #dddddd;
 margin-right: 11px;
}

.default-checkbox:checked ~ .form-order-checkbox-input {
 background: url("../img/icons/checkbox.svg") #dddddd no-repeat center;
}
